.admin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 400px;
  height: 150px;
  padding: 20px;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.admin__text {
  font-family: "Oswald";
  margin: 0;
  color: black;
}

.admin__error {
  font-family: "Oswald";
  margin: 0;
  color: red;
}

.admin__input {
  font-family: "Quicksand";
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 0;
  padding-left: 10px;
}

.admin__options {
  display: flex;
  justify-content: space-between;
}

.admin__button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Quicksand";
  border-radius: 7px;
  height: 40px;
  width: 150px;
  border: none;
  padding: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.admin__button:hover {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.admin__button:active {
  transform: translateY(10px);
}
