.contact__modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  width: 100%;
  height: 600px;
  padding: 30px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__text {
  color: black;
  font-size: 15px;
  font-family: "Quicksand";
  margin: 0;
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__header {
  color: black;
  font-size: 40px;
  font-family: "Oswald";
  margin: 30px 0;
}

.contact__header_input {
  text-align: center;
  line-height: 45px;
}

.contact__grid-options {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 80px);
  grid-gap: 20px;
}

.contact__grid-inputs {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(5, 40px);
  grid-gap: 20px;
}

.contact__input {
  border-radius: 8px;
  align-content: center;
  font-size: 15px;
  font-family: "Quicksand";
  padding-left: 10px;
}

.contact__input3 {
  grid-column: 1/3;
}

.contact__input4 {
  grid-column: 1/3;
  grid-row: 3/6;
}

.contact__option {
  background-color: black;
  border-radius: 8px;
  align-content: center;
  color: white;
  font-size: 20px;
  font-family: "Quicksand";
  text-align: center;
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact__option:hover {
  background-color: #fff;
  color: black;
  border: 2px solid turquoise;
  box-shadow: 5px 5px 0px turquoise;
}

.contact__option:active {
  background-color: turquoise;
  box-shadow: none;
  transform: translateY(4px);
}

.contact .contact__close-button {
  background: transparent url(../images/close-button.png) no-repeat center;
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  margin: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.contact__close-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition: all 0.5s;
  transform: translate(0, -0.5em);
  box-shadow: 0 0 0 0 #fff;
}

.contact__close-button:not(hover) {
  transition: all 1s;
}

.contact__back-button {
  background: transparent url(../images/arrow-back.png) no-repeat center;
  height: 50px;
  width: 50px;
  border: none;
  padding: 0;
  margin: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact__back-button:hover {
  opacity: 50%;
  transition: all 0.5s;
  transform: translate(0, -0.5em);
  box-shadow: 0 0 0 0 #fff;
  cursor: pointer;
}

.contact__back-button:not(hover) {
  transition: all 1s;
}

.contact__send-button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Quicksand";
  border-radius: 7px;
  height: 40px;
  width: 200px;
  border: none;
  padding: 0;
  margin: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.contact__send-button:hover {
  border-radius: 20px;
  background-image: url("../images/mail.png");
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.contact__send-button:active {
  transform: translateY(10px);
}
