.delete__form {
  width: 400px;
  height: 150px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.delete__text {
  font-family: "Oswald";
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.delete__buttons {
  display: flex;
  justify-content: space-between;
}

.delete__button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Quicksand";
  border-radius: 7px;
  height: 40px;
  width: 150px;
  border: none;
  padding: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.delete__button:hover {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.delete__button:active {
  transform: translateY(10px);
}
