.editmodal__form {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 420px;
  max-height: 85vh;
  border-radius: 20px;
  padding: 20px 20px;
  gap: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.editmodal__form-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editmodal__preview {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.editmodal__text {
  font-family: "Oswald";
  margin: 0 0 20px 0;
}

.editmodal__error {
  color: red;
  font-family: "Oswald";
  margin: 0;
}

.editmodal__input {
  font-family: "Quicksand";
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.editmodal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editmodal__button {
  background-color: black;
  color: white;
  font-size: 15px;
  font-family: "Quicksand";
  border-radius: 7px;
  height: 40px;
  width: 150px;
  border: none;
  padding: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editmodal__button:hover {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.editmodal__button:active {
  transform: translateY(10px);
}
