.home {
  animation: portfolioFadeInUp 0.6s ease forwards;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.home__title {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
  font-family: "Oswald";
  font-weight: bolder;
  font-size: 170px;
  line-height: 100px;
}

.home__subtitle {
  font-family: "Oswald";
  font-weight: lighter;
  font-size: 40px;
  margin: 25px 0;
}

.home__location {
  font-family: "Quicksand";
  font-size: 18px;
  color: black;
  margin: 0 0 25px 0;
}

.home__buttons {
  display: flex;
  gap: 40px;
}

.home__button {
  display: inline-block;
  font-family: "Shadows Into Light";
  font-size: 20px;
  height: 50px;
  width: 200px;
  text-decoration: none;
  color: #fff;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
}

.home__button:hover {
  background-color: #fff;
  color: black;
  border: 2px solid turquoise;
  box-shadow: 5px 5px 0px turquoise;
}

.home__button:active {
  background-color: turquoise;
  box-shadow: none;
  transform: translateY(4px);
}

@keyframes portfolioFadeInUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
