.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.home__title {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
  font-family: "Oswald";
  font-weight: bolder;
  font-size: 170px;
  line-height: 100px;
}

.home__subtitle {
  font-family: "Oswald";
  font-weight: lighter;
  font-size: 40px;
  margin: 30px 0;
}

.home__buttons {
  display: flex;
  gap: 40px;
}

.home__button {
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
  font-family: "Quicksand";
  font-size: 15px;
  height: 50px;
  width: 200px;
  border-radius: 6px;
}

.home__button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

.home__button_design {
  display: inline-block;
  font-family: "Shadows Into Light";
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
}

.home__button_design:hover {
  background-color: #fff;
  color: black;
  border: 2px solid turquoise;
  box-shadow: 5px 5px 0px turquoise;
}

.home__button_design:active {
  background-color: turquoise;
  box-shadow: none;
  transform: translateY(4px);
}
