/* .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
} */

.infotooltip__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 104, 104);
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin: 0;
  padding: 15px;
}

.infotooltip__logo {
  width: 50px;
  height: 50px;
  padding-bottom: 15px;
  margin: 0;
  background-repeat: no-repeat;
}

.infotooltip__logo_success {
  background-image: url("../images/check.png");
}

.infotooltip__logo_fail {
  background-image: url("../images/bad.png");
}

.infotooltip__message {
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: "Quicksand";
}
