.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.tooltip__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin: 0;
}

.tooltip__text {
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: "Quicksand";
}

.tooltip__image {
  width: 50px;
  height: 50px;
}
