.navbar {
  background-color: transparent;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand";
  padding: 0 20px 0 20px;
  margin: 20px 20px 0 20px;
}

.navbar__creator {
  display: flex;
  align-items: center;
  width: auto;
  height: 100px;
  justify-content: center;
  gap: 30px;
}

.navbar__nav {
  display: flex;
  gap: 25px;
}

.navbar__link {
  font-family: "Quicksand";
  border: none;
  background: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.navbar__link:hover {
  color: turquoise;
  transition: all 0.5s;
  transform: translate(0, -0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.navbar__link:not(hover) {
  transition: all 1s;
}

.navbar__logo {
  height: auto;
  width: 140px;
  right: 0;
  transform: rotate(90deg);
  margin: 0;
}
