.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.portfolio__welcome {
  font-size: 15px;
  font-family: "Quicksand";
  font-weight: light;
  color: turquoise;
  letter-spacing: 7px;
  margin: 0;
  padding: 0 0 15px;
}

.portfolio__header {
  font-family: "Oswald";
  font-size: 60px;
  text-align: center;
  line-height: 55px;
  margin: 0;
  padding: 0 0 40px 0;
}

.portfolio__button-contact {
  font-family: "Shadows Into Light";
  font-size: 20px;
  height: 50px;
  width: 270px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
}

.portfolio__button-contact:hover {
  background-color: #fff;
  color: black;
  border: 2px solid turquoise;
  box-shadow: 5px 5px 0px turquoise;
}

.portfolio__button-contact:active {
  background-color: turquoise;
  box-shadow: none;
  transform: translateY(4px);
}

.portfolio__options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 0 0 50px 100px;
}

.portfolio__options-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  font-family: "Quicksand";
  height: 50px;
  width: 130px;
}

.portfolio__options-button:hover {
  background-color: #fff;
  color: black;
  border: 2px solid turquoise;
  box-shadow: 5px 5px 0px turquoise;
}

.portfolio__options-button:active {
  background-color: turquoise;
  box-shadow: none;
  transform: translateY(4px);
}

.portfolio__add-button {
  background-color: black;
  background-image: url("../images/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.portfolio__add-button:active {
  transform: translateY(4px);
}

.portfolio__close-session-button {
  background-color: black;
  background-image: url("../images/logout.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.portfolio__close-session-button:active {
  transform: translateY(4px);
}

.portfolio__works {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 35px;
  width: 100%;
}

.portfolio__grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 18px;
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.portfolio__grid-container:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  transform: scale(1.06);
}

.portfolio__grid-image-container {
  width: 100%;
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.portfolio__grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.portfolio__grid-image:hover {
  transform: scale(1.06);
}

.portfolio__image-button {
  position: absolute;
  top: 10px;
  opacity: 0;
  transform: translateY(-6px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio__grid-container:hover .portfolio__image-button {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__delete-button {
  right: 10px;
}

.portfolio__edit-button {
  left: 10px;
}

.portfolio__image-button:active {
  transform: translateY(4px);
}

.portfolio__delete-button {
  background-image: url("../images/delete.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  border: none;
  right: 0;
}

.portfolio__edit-button {
  background-image: url("../images/edit.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  border: none;
  left: 0;
}

.portfolio__warning {
  font-family: "Oswald";
  text-align: center;
}

.portfolio__logout-message {
  color: green;
  font-family: "Oswald";
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.portfolio__add-button .portfolio__grid-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  gap: 10px;
}

.portfolio__grid-name {
  font-family: "Oswald";
  font-size: 24px;
  margin: 0;
}

.portfolio__grid-description {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.portfolio__grid-category {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 13px;
  font-family: "Quicksand";
  margin: 0;
  align-content: center;
}

.portfolio__grid-text {
  margin: 0;
  font-size: 13px;
  font-family: "Quicksand";
  opacity: 0.8;
}
