@import url(./vendor/fonts.css);
@import url(./styles/Page.css);
@import url(./styles/Navbar.css);
@import url(./styles/Home.css);
@import url(./styles/About.css);
@import url(./styles/Design.css);
@import url(./styles/Photography.css);
@import url(./styles/Portfolio.css);
@import url(./styles/Contact.css);
@import url(./styles/Modal.css);
@import url(./styles/AddProjectModal.css);
@import url(./styles/InfoTooltip.css);
@import url(./styles/Animations/Splitext.css);
@import url(./styles/Animations/CircularGallery.css);
@import url(./styles/Footer.css);
